.padre
{
    padding: 20px;
    background-color: #c6c6c6;
    grid-gap: 15px;
    display: grid;
    grid: template columns 2fr 2fr 2fr;
    grid-template-areas: "header heade headerr"
                         "nav    nav   nav"
                         "cont1  cont2 cont3"
                         "dato   dato  dato";
}
.padre .dato
{
    background-color: #D2DAED;
    padding: 15px;
}
.padre .header
{
    grid-area: header ;
}
.padre .nav
{
    grid-area: nav ;
}
.padre .dato
{
    grid-area: dato;

}
@media screen and (max-width:768px)
{
.padre{
    background-color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    grid-template-areas: "header  header header"
                         "nav     nav    nav"
                         "dato    dato   dato";
}

}
@media screen and (max-width:500px)
{
.padre{
    background-color: #706F6F;
    
    font-family: 'Courier New', Courier, monospace;
    grid-template-areas: "header header header "
                         "nav    nav    nav "
                         "dato   dato   dato"
                         ;
}
.header
{
    color: rgb(253, 249, 249);
}
}